@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 3, 7, 18;
    --accent-color: 6, 182, 212;
    --accent-foreground: 0, 0, 0;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }
}

@layer components {
  .cyber-card {
    @apply overflow-hidden backdrop-blur-sm bg-black/30 border-blue-500/30 shadow-2xl shadow-blue-500/20 rounded-3xl;
  }

  .cyber-gradient-line {
    @apply absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-blue-500 via-cyan-500 to-purple-500;
  }

  .cyber-button {
    @apply w-full relative flex items-center gap-2 transition-all duration-300 ease-in-out 
    hover:bg-cyan-500 hover:text-black border-cyan-500/50 text-cyan-400 rounded-xl py-4;
  }

  .cyber-button-icon {
    @apply absolute right-4 h-4 w-4 opacity-0 transition-opacity duration-300;
  }

  .cyber-button:hover .cyber-button-icon {
    @apply opacity-100;
  }

  .cyber-input {
    @apply bg-white/10 border-cyan-500/30 text-white placeholder-gray-400 rounded-xl py-5;
  }

  .cyber-heading {
    @apply text-2xl font-bold tracking-tighter text-white text-center;
  }

  .cyber-description {
    @apply text-sm text-gray-400 text-center;
  }
}

.youtube-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add these styles to your global CSS file */
.prose ol, .prose ul {
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose ol > li {
  padding-left: 0.5em;
}

.prose ul > li {
  padding-left: 0.5em;
}

.prose ol > li::marker {
  color: #ffffff; /* Changed to white */
}

.prose ul > li::marker {
  color: #ffffff; /* Adjust color as needed */
}
